* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  background-color: #f9f6f2;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
h1,
h2 {
  color: #444;
}
h3 {
  color: #999;
}
/* .btn {
  background: #f05462;
  color: white;
  padding: 5px 10px;
  text-align: center;
} */
.btn:hover {
  color: #202020;
  background: white;
  padding: 3px 8px;
  border: 2px solid #202020;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 10px;
  border-bottom: 2px solid #999;
}
table {
  padding: 10px;
}
th,
td {
  text-align: left;
  padding: 8px;
}
nav .container .logo img {
  width: 50px;
  cursor: pointer;
  margin: 7px;
  border-radius: 12000px;
}

nav .container .text {
  padding-left: 30rem;
}

/* bhjf */
.crud {
  padding-top: 6rem;
  padding-left: 19rem;
}
.ds {
  padding-top: 5rem;
  padding-left: 25rem;
}

.side-menu {
  position: fixed;
  background: #303030;
  width: 20vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.side-menu .brand-name {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.side-menu li {
  font-size: 24px;
  padding: 3px 8px;
  color: #ffff;
  display: flex;
  align-items: center;
}
.side-menu li:hover {
  color: #ffff;
  background: #89d1f3;
  padding: 3px 8px;
}

@media screen and (max-width: 1050px) {
  .side-menu li {
    font-size: 18px;
  }
}
@media screen and (max-width: 940px) {
  .side-menu li span {
    display: none;
  }
  .side-menu {
    align-items: center;
  }
  .side-menu li img {
    width: 40px;
    height: 40px;
  }
  .side-menu li:hover {
    background: #ffff;
    padding: 8px 38px;
    border: 2px solid 0000;
  }
}
@media screen and (max-width: 536px) {
  .brand-name h1 {
    font-size: 16px;
  }
  .container .content .cards {
    justify-content: center;
  }
  .side-menu li img {
    width: 30px;
    height: 30px;
  }
  .container .content .content-2 .recent-payments table th:nth-child(2),
  .container .content .content-2 .recent-payments table td:nth-child(2) {
    display: none;
  }
}
